body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/** HEADER **/

header {
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background-color: gainsboro;
    border: 1px solid grey;
}

/** MAIN **/

main {
    width: 100%;
    height: 600px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playlist-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 145px;
    row-gap: 50px;
}

.playlist-cards {
    width: 200px;
    height: 240px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #f8f8f8;
    border: 1px solid grey;
    border-radius: 10px;
}

.playlist-img {
    width: 100%;
    height: 140px;
    flex-shrink: 0;
}

.playlist-name {
    width: 100%;
    height: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8em;
}

.creator-name {
    width: 100%;
    height: 15px;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8em;
}

.like-container {
    width: 100%;
    height: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8em;
}

/** FOOTER **/

footer {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: gainsboro;
    border: 1px solid grey;
}

/** MODAL **/

.modal-overlay {
    /* display: hidden; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    width: 900px;
    height: 500px;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    gap: 15px;
    background-color: #f8f8f8;
    border: 1px solid grey;
    border-radius: 25px;
}

.playlist-modal-info {
    width: 100%;
    height: 160px;
    box-sizing: border-box;
    display: flex;
    border: 1px solid red;
}

.playlist-modal-img {
    width: 30%;
    height: 100%;
}

.playlist-modal-text {
    width: 70%;
    height: 100%;
    border: 1px solid green;
}

.playlist-modal-title {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border: 1px solid orange;
}

.playlist-modal-creator {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.playlist-song {
    width: 100%;
    height: 75px;
    border: 1px solid blue;
}