body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

/** HEADER **/

header {
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    color: whitesmoke;
    background-color: #1772c1;
    border: 1px solid grey;
}

/** MAIN **/

main {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playlist-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px;
    column-gap: 80px;
    row-gap: 40px;
}
@media (max-width: 1300px) {
    #playlist-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    #playlist-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    #playlist-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

.playlist-cards {
    width: 240px;
    height: 360px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 6px 3px 3px #f1ecec;
    border: 3px solid black;
    transition: transform 0.3s ease;
}

.playlist-cards:hover {
    transform: scale(1.05);
}

.playlist-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    flex-shrink: 0;
}

.playlist-name {
    width: 100%;
    height: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8em;
}

.creator-name {
    width: 100%;
    height: 15px;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8em;
}

.like-container {
    width: 100%;
    height: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
    margin-top: 40px;
}

.like-container button {
    border: none;
    padding: 0;
    background-color: transparent;
}

.like-container p {
    margin-left: 5px;
    margin-bottom: 2px;
}

/** FOOTER **/

footer {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: #1772c1;
    border: 1px solid grey;
}

/** MODAL **/

.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}
.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

.modal-overlay {
   position: fixed; 
   z-index: 1; 
   left: 0;
   top: 0;
   width: 100%;
   height: 100%; 
   background-color: rgba(0,0,0,0.4);
   overflow: auto;
}

.modal-content {
   background-color: #fefefe;
   margin: 15% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 70%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   row-gap: 20px;
   border-radius: 20px;
   border: 5px solid black;
   overflow: auto;
}

.playlist-modal-info {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    display: flex;
}

.playlist-modal-img {
    width: 20%;
    height: 100%;
}

.playlist-modal-text {
    width: 75%;
    height: 100%;
}

.playlist-modal-title {
    width: 100%;
    height: 40%;
    padding: 2px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    box-sizing: border-box;
}

.playlist-modal-creator {
    width: 100%;
    height: 60%;
    padding: 2px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.playlist-song {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #f1ecec;
    border: 1px solid gray;
}

.playlist-song-img {
    height: 100%;
    width: 10%;
    border-right: 1px solid gray;
}

.playlist-song-info {
    height: 100%;
    width: 75%;
    padding: 2px 10px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    box-sizing: border-box;
}

.playlist-song-duration {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}